/* Control panel */

$transition: .4s;

.product-control-panel {
    display: flex;
    &__wrapper {
        background-color: rgba(125, 151, 218, 0.2);
        padding: 41px 0 28px;
        margin-top: 50px;
    }
    &__fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }
    &__apply-btn {
        width: 95px;
        margin: 38px 60px;
        &-wrapper {
            width: 200px;
        }
    }
    &__title-wrapper {
        margin-bottom: 10px;
    }
}

/* Cost slider block */

$thumb-border-color: #C29974;
$thumb-background-color: #ffffff;
$track-color-lower: #C29974;
$track-color-upper: rgba(0, 0, 0, 0.5);

@mixin cost-block-slider-track () {
    width: 100%;
    height: 4px;
    cursor: pointer;
}

@mixin cost-block-slider-thumb () {
    border: 8px solid $thumb-border-color;
    border-radius: 12px;
    background: $thumb-background-color;
    cursor: pointer;
}

.cost-block {
    width: 300px;
    min-width: 230px;
    &__slider {
        -webkit-appearance: none;
        width: 188px;
        background: transparent;
        &-wrapper {
            padding: 3px 4px;
        }
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 24px;
            width: 24px;
            margin-top: -11px;
            @include cost-block-slider-thumb ();
        }
        &::-moz-range-thumb {
            height: 8px;
            width: 8px;
            @include cost-block-slider-thumb ();
        }
        &::-ms-thumb {
            height: 8px;
            width: 8px;
            @include cost-block-slider-thumb ();
        }
        &::-webkit-slider-runnable-track {
            @include cost-block-slider-track ();
            background: $track-color-upper;
        }
        &::-moz-range-track {
            @include cost-block-slider-track ();
            background: $track-color-upper;
            color: transparent;
        }
        &::-moz-range-progress {
            @include cost-block-slider-track ();
            background: $track-color-lower;
            color: transparent;
        }
        &::-ms-track {
            @include cost-block-slider-track ();
            background: transparent;
            border-color: transparent;
            border-width: 24px 0;
            color: transparent;
        }
        &::-ms-fill-lower {
            background: $track-color-lower;
        }
        &::-ms-fill-upper {
            background: $track-color-upper;
        }
        &::-ms-tooltip {
            display: none;
        }
    }
    &__value-limits {
        width: 104px;
        &-wrapper {
            padding: 9px 0;
            display: flex;
        }
        &:last-child {
            text-align: right;
        }
    }
}

/* Color block */

.color-block {
    width: 200px;
    min-width: 100px;
    input[type="checkbox"] {
        display: none;
    }
    &__label {
        display: block;
        background: url(../../static/images/checkbox.svg) no-repeat 0 0;
        padding-left: 30px;
        cursor: pointer;
        margin: 15px 0;
        &:hover {
            text-decoration: underline;
        }
    }
    & input[type="checkbox"]:checked + &__label {
        background: url(../../static/images/checkbox-checked.svg) no-repeat 0 0;
    }
    & input[type="checkbox"]:disabled + &__label {
        background: url(../../static/images/checkbox-disabled.svg) no-repeat 0 0;
    }
}

/* Delivery block */

.delivery-block {
    width: 200px;
    min-width: 150px;
    &__title-wrapper {
        margin-bottom: 16px;
    }
    input[type="radio"] {
        display: none;
    }
    &__label {
        display: block;
        background: url(../../static/images/radio.svg) no-repeat 0 0;
        padding-left: 30px;
        cursor: pointer;
        margin: 10px 0;
        &:hover {
            text-decoration: underline;
        }
    }
    & input[type="radio"]:checked + &__label {
        background: url(../../static/images/radio-checked.svg) no-repeat 0 0;
    }
    & input[type="radio"]:disabled + &__label {
        background: url(../../static/images/radio-disabled.svg) no-repeat 0 0;
    }
}

/* Amount block */

.amount-block {
    width: 240px;
    min-width: 170px;
    box-sizing: border-box;
    &__wrapper {
        display: flex;
        margin-top: 16px;
    }
    input[type="radio"] {
        display: none;
    }
    &__label {
        width: 80px;
        height: 35px;
        margin: 0 0;
        background-color:#fff;
        text-align: center;
        line-height: 35px;
        transition: background-color $transition;
        &:hover {
            background-color: #EDDEEB;
        }
    }
    & input[type="radio"]:checked + &__label {
        background-color:#F3D0DB;
    }
}