<div class="chat">
    <div class="chat__header">
        <div class="chat__title">ChemDry Chat</div>
        <div class="chat__desc">Chat with an anonymous person</div>
        <div class="chat__close">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.85791" y="15.9099" width="2.5" height="20" rx="1.25" transform="rotate(-135 1.85791 15.9099)" fill="black"/>
            <rect x="15.9995" y="14.1421" width="2.5" height="20" rx="1.25" transform="rotate(135 15.9995 14.1421)" fill="black"/>
            </svg>        
        </div>
    </div>
    <div class="chat__content">
        <div class="chat__message-container">
            <div class="chat__message message-from">
                Oh, you better not know, since we are learning a very complicated topic on how to create cool animations in CSS.
            </div>
        </div>
        <div class="chat__message-container">
            <div class="chat__message message-to">
                Cool! Can you teach me too?
            </div>
        </div>
        <div class="chat__message-container">
            <div class="chat__message message-from">
                No, I won’t just teach you, come to us for courses at DL Academy and then you will not be taught this!
            </div>
        </div>
        <div class="chat__message-container">
            <div class="chat__message message-to">
                Damn, I was hoping so, well, I’ll start walking soon, see you!
            </div>
        </div>
        <div class="chat__message-container">
            <div class="chat__message message-from">
                Good, all the best.
            </div>
        </div>
    </div>
</div>