/* main */

/* Section Banner */

.banner {
    min-width: 1000px;
    margin-top: 94px;
    &__page-number {
        margin: 0;
        padding-bottom: 10px;
        font-family: "Montserrat", Arial, sans-serif;
        font-size: 60px;
        line-height: 73px;
        font-weight: 300;
        color: rgba(30, 6, 6, 0.05);
    }
    &__burger {
        padding: 17px 28px;
        &-wrapper {
            position: relative;
            height: 372px;
            background: #EEE4DB;
            display: flex;
        }
    }
    &__designed {
        font-family: "Crimson Text", "Times New Roman", serif;
        font-style: italic;
        font-size: 20px;
        line-height: 25px;
        font-weight: 400;
        margin: 17px 0 19px;
    }
    &__title-block {
        padding: 92px 17px;
        max-width: 40%;
        z-index: 1;
    }
    &__logo-img {
        position: absolute;
        bottom: 0px;
        right: 100px;
    }
    &__free-shipping {
        background: #C29974;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;    
        text-transform: uppercase;
        color: #ffffff;
        padding: 11px;
        text-align: center;
        margin: 0;
    }
    &__btn {
        max-width: 161px;
    }
}

/* section products */

.products {
    padding: 0;
    margin-top: 92px;
    &__list {
        display: flex;
        padding: 0;
        margin-left: -10px;
        margin-bottom: 14px;    
    }
}

/* Section Delivery */

.delivery {
    display: flex;
    margin-top: 74px;
    &__wrapper {
        padding: 10px 30px 0 0;
        margin-left: 60px;
    }
    &__list {
        font-family: "Crimson Text", "Times New Roman", serif;
        font-style: italic;
        font-size: 26px;
        line-height: 25px;
        font-weight: 400;
        margin-bottom: 20px;
        &-item {
            box-sizing: border-box;
            text-align: left;
            width: 326px;
            height: 55px;
            padding-top: 17px;
            padding-left: 60px;
            &_selected {
                background-color: rgba(112, 187, 220, 0.2);
                font-weight: 700;
            }
        }
    }
    &__text {
        padding-left: 60px;
        width: 480px;
    }
    &__title {
        padding-left: 60px;
        margin: 20px 0 6px;
    }
    &__learn-more-btn {
        max-width: 149px;
        margin: 10px 0 0 60px;
    }
}

/* Section Brands */

.brands {
    margin-top: 85px;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            cursor: pointer;
        }
    }
}

/* Section About */

.about {
    display: flex;
    margin-top: 0px;
    margin-bottom: -25px;
}

@mixin about-title-shift () {
    position: relative;
    top: 52px;
    left: 30px;
}

@mixin about-wrapper () {
    background-color: #E1F0F7;
    padding: 33px 30px;
    min-width: 350px;
}

.about-design {
    width: 543px;
    margin-right: 57px;
    position: relative;
    &__title {
        @include about-title-shift ();
    }
    &__wrapper {
        @include about-wrapper ();
        a {
            font-family: "Crimson Text", "Times New Roman", serif;
            font-style: italic;
            font-size: 26px;
            line-height: 32px;
            font-weight: 400;
        }
        p {
            margin: 10px 0 18px;
        }
    }
    &__buy-now-btn {
        max-width: 123px;
    }
}

.about-contacts {
    width: 543px;
    position: relative;
    &__wrapper {
        @include about-wrapper ();
        padding-bottom: 80px;
    }
    &__title {
        @include about-title-shift ();
    }
    &__map {
        position: relative;
        bottom: 80px;
        left: 30px;
    }
}