html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}

@keyframes woman-message {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    25% {
        opacity: 100%;
    }
    40% {
        opacity: 100%;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes woman-hand {
    0% {
        transform: rotate(0deg);
        transform-origin: left top ;
    }
    20% {
        transform: rotate(0deg);
        transform-origin: left top ;
    }
    22% {
        transform: rotate(-45deg);
        transform-origin: left top ;
    }
    30% {
        transform: rotate(-45deg);
        transform-origin: left top ;
    }
    35% {
        transform: rotate(0deg);
        transform-origin: left top ;
    }
    100% {
        transform: rotate(0deg);
        transform-origin: left top ;
    }
}

@keyframes man-hand {
    0% {
        transform: rotate(135deg);
        transform-origin: 10% 93%;
    }
    45% {
        transform: rotate(135deg);
        transform-origin: 10% 93%;
    }
    50% {
        transform: rotate(0deg);
        transform-origin: 10% 93%;
    }
    70% {
        transform: rotate(0deg);
        transform-origin: 10% 93%;
    }
    75% {
        transform: rotate(135deg);
        transform-origin: 10% 93%;
    }
    100% {
        transform: rotate(135deg);
        transform-origin: 10% 93%;
    }
}

@keyframes man-message-1 {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    50% {
        opacity: 100%;
    }
    65% {
        opacity: 100%;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes man-message-2 {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    85% {
        opacity: 100%;
    }
    95% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

@keyframes taxi-message {
    0% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    70% {
        opacity: 100%;
    }
    80% {
        opacity: 100%;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes taxi-wrapper {
    0% {left: 2000px;

    }
    70% {left: 750px;

    }
    80% {
        left: 750px;
    }
    100% {
        left: -1000px;
    }
}
@keyframes side-cars-1 {
    from {
        left: -60px;
    }
    to {
        left: 700px;
    }
}

@keyframes side-cars-2 {
    from {
        left: 350px;
    }
    to {
        left: 1000px;
    }
}
@keyframes side-cars-3 {
    from {
        left: 700px;
    }
    to {
        left: 1300px;
    }
}
@keyframes side-cars-4 {
    from {
        left: 1280px;
    }
    to {
        left: 2000px;
    }
}

.animation {    
    &-title {
        margin-top: 29px;
        margin-bottom: 30px;
        position: relative;
    }
    &__content {
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        max-width: 1585px;
        margin-bottom: 50px;
    }
    &__middle-lights {     
        z-index: 2;  
        &-wrapper {
            position: absolute;
            top: 220px;
            left: 550px;
            display: flex;
            justify-content: space-between;
            width: 1040px;
        }
    }
    &__front-light {
        position: absolute;
        top: 220px;
        left: 1150px;
        z-index: 3;
    }
    &__side-cars {
        position: absolute;
        left: 100px;
        z-index: 0;
        width: 1040px;
        &:nth-child(#{1}) {
            top: 490px;
            left: -60px;
            animation: side-cars-1 10s ease 2s 1 forwards;
        }
        &:nth-child(#{2}) {
            top: 490px;
            left: 350px;
            animation: side-cars-2 9s ease 1.5s 1 forwards;
        }
        &:nth-child(#{3}) {
            top: 510px;
            left: 700px;
            animation: side-cars-3 7s ease 1s 1 forwards;
        }
        &:nth-child(#{4}) {
            top: 460px;
            left: 1280px;
            animation: side-cars-4 5s ease 2.5s 1 forwards;
        }
        &-wrapper {
            position: absolute;
            top:0px;
            left: 0px;
        }           
    }
    &__message {
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 60px;
            height: 30px;
            background: url('/static/images/tail.svg') no-repeat; 
        }
    }

    &__taxi {
        &-car {
            z-index: 2;
            position: absolute;
            left: -100px;
        }
        &-message {
            padding: 17px 17px;
            border-radius: 10px;
            font-size: 16px;
            line-height: 22px;
            background: #fff;
            width: 160px;
            max-height: 80px;
            position: absolute;
            left: 215px;
            top: -55px;
            z-index: 2;
            &::after {
                top: 70px;
                left: 90px;
                z-index: 0;
            }
            animation: taxi-message 10s linear 1 forwards;
        }
        &-wrapper {
            position: absolute;
            top:450px;
            left: 750px;
            animation: taxi-wrapper 10s ease-in-out 1 forwards;
        }
    }
    &__woman {
        &-wrapper {
            position: absolute;
            top:510px;
            left: 270px;
        }
        &-hand {
            position: absolute;
            top: 115px;
            left: 40px;
            animation: woman-hand 10s ease-in 1 forwards;
            z-index: 3;
        }
        &-body {
            z-index: 2;
            position: absolute;
        }
        &-message {
            padding: 17px 17px;
            border-radius: 10px;
            font-size: 16px;
            line-height: 22px;
            background: #fff;
            width: 160px;
            max-height: 80px;
            position: absolute;
            left: -70px;
            top: -110px;
            animation: woman-message 10s linear 1 forwards;
            &::after {      
                top: 70px;
                left: 80px;
                z-index: 1;
            }            
        }
    }
    &__man {
        &-wrapper {
            position: absolute;
            top: 422px;
            left: 390px;
        }
        &-hand {
            z-index: 1;
            position: absolute;
            top: -40px;
            left: 0px;
            animation: man-hand 10s ease-in 1 forwards;
        }
        &-body {
            z-index: 2;
            position: absolute;
        }
        &-message {
            padding: 17px 17px;
            border-radius: 10px;
            font-size: 16px;
            line-height: 22px;
            background: #fff;
            width: 160px;
            max-height: 60px;
            position: absolute;
            left: -10px;
            top: -85px;
            z-index: 2;
            &::after {
                top: 47px;
                left: 10px;
                z-index: 2;
            }
            &-1 {
                animation: man-message-1 10s linear 1 forwards;
            }
            &-2 {
                animation: man-message-2 10s linear 1 forwards;
            }
        }    
    }
}
