<div class="burger">
    <input name="burger" value="1" id="burger_1" type="radio" checked/>
    <label for="burger_1" class="burger__label"></label>
    <input name="burger" value="2" id="burger_2" type="radio" />
    <label for="burger_2" class="burger__label"></label>
    <input name="burger" value="3" id="burger_3" type="radio" />
    <label for="burger_3" class="burger__label"></label>
    <input name="burger" value="4" id="burger_4" type="radio" />
    <label for="burger_4" class="burger__label"></label>
</div>