.blogs {
    margin-bottom: 32px;
    &__container-stretch {
        max-width: 1200px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;     
        padding: 0;
    }
    &-title {
        margin-top: 29px;
        margin-bottom: 30px;
    }
}