.products {
    padding: 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
}

@media screen and (min-width: 1200px) {
    .products {
        margin-top: 29px;  // 1200
        &__list {
            margin: 50px 0 0 -10px;
            width: 1080px;
            .product-category-item:nth-child(4) {
                margin-left: auto;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .products {
        margin-top: 10px;
        &__list {
            margin: 30px 0 0 -10px;
            // max-width: 1100px;   
            // min-width: 900px;
            width: 670px;
        }
    }
    .product-category-item {
        &__wrapper { 
            width: 203px; 
            height: 196px;
            padding: 14px;  
        }
        &__picture {
            img {
                width: 203px;
                height: 196px;
            }
        }
        &__title {
            max-width: 100%;
            h3 {
                font-size: 24px;
                line-height: 29px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .products {
        margin-top: 0px;
        &__list {
            margin: 20px 0 0 -8px;
            width: 375px;
        }
    }
    .product-category-item {
        &__wrapper {
            width: 160px; 
            height: 155px;
            padding: 10px;   
        }
        &__picture {
            img {
                width: 160px;
                height: 155px;
            }
        }
        &__title {
            max-width: 95%; 
            h3 {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

.product-description {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 38px;
    &__wrapper {
        width: 980px;
    }
    &__title, &__details {
        max-width: 680px;
    }
    &__title {
        margin: 32px 0 26px;
    }
    &__details {
        margin: 15px 0;
    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 768px) and (max-width: 1199px) {}

@media screen and (max-width: 767px) {}