<div class="page-selecting container">        
    <button class="page-selecting__button">        
        <svg width="18" height="30" viewBox="0 0 18 30" fill="none">
            <path class="page-selecting__arrow" d="M16 2L3 15L16 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4"/>
        </svg>
    </button>        
    <div class="page-selecting__radio-block">
        <input type="radio" name="paging" id="paging-list-1" value="1" checked>
        <label for="paging-list-1" class="page-selecting__label">1</label>
        <input type="radio" name="paging" id="paging-list-2" value="2">
        <label for="paging-list-2" class="page-selecting__label">2</label>
        <input type="radio" name="paging" id="paging-list-3" value="3">
        <label for="paging-list-3" class="page-selecting__label">3</label>
        <input type="radio" name="paging" id="paging-list-4" value="4">
        <label for="paging-list-4" class="page-selecting__label">4</label>
    </div>        
    <button class="page-selecting__button">            
        <svg width="18" height="30" viewBox="0 0 18 30" fill="none">
            <path class="page-selecting__arrow" d="M2 2L15 15L2 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4"/>
        </svg>                
    </button>
</div>