<li class="goods-item__wrapper">
    <a class="goods-item" href="#">
        <div class="goods-item__button-wrapper">                                                       
            <div class="goods-item__button">Learn more</div>                            
        </div>
        <picture class="goods-item__picture">
            <source srcset="@@img-url, @@img2x-url 2x">
            <img  src="@@img-url" alt="@@alt-text">
        </picture>
        <h4 class="goods-item__title">@@title</h4>
        <p class="goods-item__price">$@@price USD</p> 
    </a>
</li>