<li class="goods-item__wrapper">
    <a href="#">
        <div class="goods-item">
            <div class="goods-item__button-wrapper">                                                       
                <div class="goods-item__button">Learn more</div>                            
            </div>
            <div class="goods-item__picture">
                <img src="@@picture-url" width="380" height="385" alt="Goods-1">
            </div>                                               
            <h4 class="goods-item__title">@@title</h4>
            <p class="goods-item__price">$@@price USD</p> 
        </div>
    </a>
</li>