/* contacts-form */

.contact-form {
    box-sizing: border-box;  
    background: #E5EAF8; 
    font-family: 'Roboto', sans-serif;
    fieldset {
        border: none;
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: 21px;   //all except mobile
    }
    label {
        font-size: 14px;
        line-height: 16px;
        color: #1E0606;
        margin-bottom: 3px;
        margin-bottom: 6px;
    }
    input,
    textarea {
        box-sizing: border-box;    
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 12px 20px;    //all except mobile
        font-size: 18px;       //all except mobile
        line-height: 25px;     //all except mobile
        background: #fff;
    }
    input {
        height: 50px;
        &::placeholder {
            color: #1E0606;
        }
    }
    textarea {
        height: 150px;
        resize: none;
    }
    input:hover,
    textarea:hover {
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    input:focus,
    textarea:focus {
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }  
    &__wrapper {
        display: flex;
        flex-direction: column;
        &_block {
            width: 100%;
        }
    }
    &__line {
        display: flex;
        justify-content: space-between;  //all except mobile
    }
    &__confirmation {
        margin-bottom: 17px;
        input[type="checkbox"] {
            display: none;
        }
    }
    &__confirm-label {
        display: block;
        background: url(static/images/checkbox.svg) no-repeat 0 0;  
        padding-left: 35px;
        padding-bottom: 5px;
        cursor: pointer;
        margin: 0px 0;
    }
    &__confirmation input[type="checkbox"]:checked + &__confirm-label {
        background: url(static/images/checkbox-checked.svg) no-repeat 0 0;
    }
    &__submit-btn {
        max-width: 106px;
    }
}

@media screen and (min-width: 1200px) {
    .contact-form {
        min-width: 680px;            //1200
        padding: 42px 40px;     //1200
        &__wrapper_block {
            max-width: 290px;   //1200
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact-form {
        min-width: 648px;    
        padding: 42px 56px;  
        &__wrapper_block {
            max-width: 258px; 
        }
    }
}
@media screen and (max-width: 767px) {
    .button {
        height: 38px;
    }
    .contact-form {
        min-width: 335px;
        padding: 25px;
        &__line {
            flex-direction: column;
        }
        &__confirm-label,
        &__confirmation input[type="checkbox"]:checked + &__confirm-label {
            background-size: 17px 17px;
            background-position: 0px 1px;
        }
        fieldset, &__wrapper_block {
            margin-bottom: 15px;
        }
        input {
            height: 40px;
        }
        input,
        textarea {
            padding: 10px 15px;   
            font-size: 16px;    
            line-height: 22px; 
        }
    }
}
