<form action="#" method="POST" class="contact-form">
    <fieldset class="contact-form__wrapper">				                   
            <label for="contact-form__name">Name</label>
            <input type="text" id="contact-form__name" placeholder="@@placeholder-name">			
    </fieldset>			            
    <fieldset class="contact-form__line">
        <div class="contact-form__wrapper contact-form__wrapper_block">                    
            <label for="contact-phone">Phone</label>
            <input type="tel" id="contact-phone">
        </div>
        <div class="contact-form__wrapper contact-form__wrapper_block">                    
            <label for="contact-email">Email</label>
            <input type="email" id="contact-email">
        </div>
    </fieldset>
    <fieldset class="contact-form__wrapper">                    
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
    </fieldset>
    <fieldset class="contact-form__confirmation">                
        <input type="checkbox" name="confirm" id="confirm" value="confirmed">
        <label for="confirm" class="contact-form__confirm-label">By clicking on the button, you consent to the processing of your personal data</label>                
    </fieldset>
    @@include('button/index.html', {
        "text": "Submit",
        "addition-class": "contact-form__submit-btn"
        })
</form>            
