<div class="banner-logo-slide @@addition-class">
    <div class="banner-logo-slide__title-block">
        <h1>The ooh noo collection</h1>
        <p class="banner-logo-slide__designed">Designed in Slovenia</p>                    
        @@include('button/index.html', {
            "text": "Explore now",
            "addition-class": "banner__btn banner-js" 
            })
    </div>
    <picture>
        <source srcset="static/images/banner-ooh_noo.png, static/images/banner-ooh_noo@2x.png 2x" class="banner-logo-slide__logo-img">
        <img src="static/images/banner-ooh_noo.png" class="banner-logo-slide__logo-img" alt="Banner"> 
    </picture>
</div>