/* Footer */

$transition: .4s;

.footer {
    color: #fff;
    background-color: #434343;
    padding-top: 80px;
    &__wrapper {
        display: flex;
        &_1 {
            border-bottom: 1px solid #666666;
        }
        &_2 {
            margin-top: 24px;
            padding-bottom: 100px;
        }
    }
    &__section {
        width: 33%;
        min-width: 300px;
    }
    &__nav {
        border-top: 1px solid #666666;
        &-list {
            line-height: 37px;
            margin: 23px 0 19px;            
            & li {
                transition: opacity $transition;
                &:hover {
                    opacity: 50%;
                }
                &:active {
                    opacity: 20%;
                }
            }
            a {
                color: #fff;
            }
        }   
    }    
    &__wrapper &__section:not(:last-child) {
        margin-right: 20px;
    }
    &__rating {
        &-block {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            input[type="radio"] {
                display: none;
            }
        }
        &-label {
            display: block;
            width: 18px;
            height: 13px;
            margin: 1px;
            cursor: pointer;
            svg {
                display: block;
                transition: $transition;
            }
        }

        &-block &-label:hover > svg, &-block &-label:hover ~ &-label > svg {
            fill: #836E5B ;
        }

        &-block &-label:active > svg, 
        &-block &-label:active ~ &-label > svg, 
        &-block input[type="radio"]:checked ~ &-label > svg {
            fill: #C29974 ;
        }

        &-title {
            color: #fff;
            margin-right: 24px;
            font-size: 16px;
            transition: $transition;
        }

        &-block &-label:hover ~ &-title,
        &-block &-label:active ~ &-title,
        &-block input[type="radio"]:checked ~ &-title {
            color: #C29974;

        }
    }
    
    &__social-list {
        display: flex;
        margin-top: 25px;
        li {
            padding: 0 10px 0 0;
            transition: opacity $transition;
            &:hover {
                opacity: 50%;
            }
            &:active {
                opacity: 20%;
            }
        }
    }
    &__input-field {
        border: none;
        background-color: #666666;
        width: 299px;
        padding-left: 15px;
        &::placeholder {
            color: #EBEBEB;
        }
    }
    &__label-email {
        display: none;
    }
    &__form {
        display: flex;
        margin-top: 25px;
    }
    &__dl-digital-link {
        color: #a2a2a2;
        transition: $transition;
        &:hover,
        &:active {
            color: #ffffff;
            text-decoration: underline;  
        }
    }
    &__button-join {
        max-width: 81px;
    }
}