<li class="product-category-item">
    <a href="@@link-url" class="product-category-item__link">
        <div class="product-category-item__wrapper">                            
            <div class="product-category-item__title">
                <h3>@@item-title</h3>                                
            </div>
            <!-- <div class="product-category-item__picture">
               <img src="@@img-url" alt="@@alt-text">
           </div> -->
           <picture class="product-category-item__picture">
                <source srcset="@@img-url, @@img2x-url 2x">
                <img  src="@@img-url" alt="@@alt-text">
            </picture>
        </div>
    </a>
</li>