<li class="product-category-item">
    <a href="@@link-url" class="product-category-item__link">
        <div class="product-category-item__wrapper">                            
            <div class="product-category-item__title">
                <h3>@@item-title</h3>                                
            </div>
            <div class="product-category-item__picture">
               <img src="@@img-url" width="280" height="270" alt="@@alt-text">
           </div> 
        </div>
    </a>
</li>